/* Colors used::
light grey (background): #c7c7c7
black (text): #000000
yellow (secondary): #d9ff00
*/

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(89, 159, 180);
    font-family: 'Arial-narrow', sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: black;
}

#about {
    background-color: tomato;
}

/* Images */
img {
    max-width: 100%;;
}

/* Headers */
h1, h2, h3, h4 {
    line-height: 1.4;
    font-weight: 300;
    margin: 0px;
}
h2 {
    font-size: 1.5em;
    margin-bottom: 0;
}
h3 {
    font-size: 16px;
}
h4 {
    font-weight: 400;
    color: white;
}

p {
    line-height: 26px;
}

/* Links */
a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s;
}

a:active {
    color: red;
}
a:hover {
    font-weight: 300;
    color: red;
}
a:focus {
    color: rgb(0, 0, 0);
}


/* Buttons */
.button {
    display: inline-block;
    font-weight: 400;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid black;
    transition: color 0.5s
}
.button:hover {
    font-weight: 400;
    background-color: black;
    color: white;
    font-style: normal;
}

/* Layout styling */
.container {
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
}
.desktop {
    display: none;
}
.mobile {
    display: inline-block;
}


/* Header */
#work .header {
    position: fixed;
    width: 100%;
    height: 40px;
    padding: 0 ;
    background: linear-gradient(to bottom, rgb(89, 159, 180), transparent)
}
#about .header {
    position: fixed;
    width: 100%;
    height: 40px;
    padding: 0 ;
    background: linear-gradient(to bottom, tomato, transparent)}

.myName {
    position: relative;
    top: 1px;
    font-weight: 400;
    font-size: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
}

nav ul li {
    font-size: 1.1em;
    font-weight: 300;
}

.navtoggle, .navtoggle.responsive {
    position: relative;
}
.navtoggle li:not(:last-child) {
    display: none;
}
.navtoggle li .icon {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 16px;
}
.navtoggle.responsive nav {
    margin: -10px;
    padding-top: 22px;
}
.navtoggle.responsive li  {
    display: block;
    padding: 5px 0 5px 10px;
    background-color: white;
}
.navtoggle.responsive li:last-child  {
    padding-top: 5px;
}
/* Project layout */

.project {
    font-size: 20px;
    margin: 30px auto;
}
#project1 {
    margin-top: 40px;
}
.project .name h3 {
    color: white;
    font-size: 22px;
    line-height: 1em;
}

.project-head .roles {
    font-size: 20px;
    margin-bottom: 10px;
}
.project-text {
    line-height: 1em;
    padding-right: 30px;
}

.project p {
    line-height: 1em;
}

.project .p-link {
    text-align: center;
}

.p-link a {
    width: 100%;
}

/* About layout */
#about main ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0px;
}
#about main ul li {
    margin: 0px 0;
}

.aboutme {
    padding: 30px 30px 0 0;
}

.aboutme p {
    line-height: 1.2em;
    font-size: 2em;
}
.resume {
    margin: 40px 0 20px 0;
    text-align: center;
}

.skills-tools {
    padding: 40px 5px 0 0;
    font-size: 2em;
}


/* Footer */
.contact {
    font-weight: 300;
    text-align: center;
}
.footer {
    position: relative;
    bottom: 0px;
}
#footer a {
    text-decoration: underline;
    font-weight: 400;
    margin-top: 0px;
}
.copyright {
    text-align: center;
}


/* ==============================
Medium/Large devices (640px and larger)
================================= */


@media only screen and (min-width: 640px) {

    .container {
        max-width: 1200px;
        padding: 0 10px;
        display: block;
        margin-top: 285px;
    }

    .row {
        width: 100%;
        max-width: 900px;
        margin: 20px auto;
    }

    .desktop {
        display: inline-block;
    }
    .mobile {
        display: none;
    }
    #work main {
        padding-top: 50px;
    }
    #about main {
        padding-top: 50px;
    }

    /* Columns */
    .col-1 {
        margin-top: 110px;
        width: 210px;
        float: left;
        position: fixed;
    }

    .col-2 {
        float: left;
        margin-left: 210px;
        padding-bottom: 50px;
        max-width: 800px;
    }

    [class*="col-"] {
        float: left;
    }

    .container .row::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Hero & Navigation */

    #work .header {
        all: unset;
    }
    #about .header {
        all: unset;
    }
    .hero .mobile {
        display: none;
    }
    .project {
        font-size: unset;
    }

    .col-1 {
        margin-top: 206px;
        padding-left: 10px;
    }
    .name-link {
        font-weight: 300;
        font-size: 1.2em;
    }

    .nav {
        padding-top: 20px;
        border-top: 1px solid black;
        width: 210px;
    }
    .nav ul {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80px;
    }
    .nav ul li a {
        text-transform: none;
        font-style: italic;
    }

    .nav li:last-child {
        display: none;
    }

    /* Index Project */
    [class*="colp-"] {
        float: left;
    }
    .colp-sm-2 {
        width: 100%;
    }
    .colp-md-1 {
        width: 50%;
    }
    .project {
        border-bottom: 1px solid black;
        padding-top: 20px;
    }
    #project1 {
        border-top: 1px solid black;
    }
    .project-preview {
        width: 100%;
    }
    .project .name h3 {
        font-weight: 300;
    }

    .project-head {
        padding-top: 0px;
    }
    .project .roles {
        margin: 0;
        padding-bottom: 10px;
    }
    .project .details {
        margin: 0;
        padding: 10px 0;
    }
    .project .description {
        margin: 0;
        padding: 10px 0;
    }

    .project h3 {
        margin: 0
    }

    #work h1 {
        margin: 0px;
    }

    /* About */

    .aboutme {
        padding: 20px 10px 0 0;
        margin-top: 0;
        border-top: 1px solid black;
    }

    .skills-tools {
        padding: 20px 10px;
        margin-top: 0;
        border-top: 1px solid black;
        font-size: unset;
    }

    .aboutme p {
        margin: 0;
        font-size: unset;
    }

    .resume {
        margin-top: 40px;
        text-align:left
    }

    /* Footer */
    footer .container{
        display: flex;
        justify-content: space-between;
        max-width: none;
        width: 100vw;
        background-color: inherit;
        bottom: 0px;
        position: fixed;
    }
    #footer p {
        margin: 5px;
    }
    .copyright {
        color: #5e5e5e;
        text-align: unset;
    }
}

/* =======
Animations
======= */

@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
}

@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}

@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
    animation: 100s cloud-move-reverse infinite alternate linear;
}